<div class="container mt-5">
    <h1 class="mb-4">Lista de Productos</h1>
    <div class="row d-flex">
        <p>carrito: {{cart}}</p>
        {{#each products}}
        <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card h-100">
                <div class="card-img-wrapper">
                    <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">{{title}}</h5>
                        <h5 class="card-subtitle">{{category}}</h3>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text mt-auto"><strong>Precio: </strong>${{price}}</p>
                            <a href="/api/products/get/{{_id}}" class="btn btn-primary mt-auto">Ver más</a>
                            <form method="POST" action="/api/carts/{{../cart}}/product/{{_id}}">
                                <button class="btn btn-success mt-2">Agregar al
                                    carrito</button>
                            </form>
                            

                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="mt-4">
        {{#if pagination.prevLink}}
        <a href="{{pagination.prevLink}}" class="btn btn-primary mb-4">Página anterior</a>
        {{/if}}
        {{#if pagination.nextLink}}
        <a href="{{pagination.nextLink}}" class="btn btn-primary ml-2 mb-4">Página siguiente</a>
        {{/if}}
    </div>
</div>

<script src="/js/addToCart.js"></script>